*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{text-decoration: none;}
/*** HEADER AREA START ***/
.header_area{
    padding-top: 8px;

    background: black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.logo{}
/* .logo img{width: 180px;} */
.menu{
    padding-top: 8px; 
}
.menu ul{
    /* text-align: center;    */
    text-align: right;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
}
.menu ul li a{
    display: inline-block;
    font-size: 18px;
    color: white;
    transition: .5s;
}
.menu ul li a:hover{
    color: red;
}
.menu .slicknav_menu{background: none;}
.slicknav_menu{display: none;}
/*** HEADER AREA END ***/
/** HOME AREA START ***/
#home_area{
    background-image: url(../img/08Gtlp3.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    background-size: 100% 100%;
    height: 600px;
    padding-top: 150px;
    /* padding-bottom: 100px; */
    margin-bottom: 70px;
}
.home_contant{
    width: 30%;
    color: whitesmoke;
}
/** HOME AREA END ***/
/****** ADVERTORIAL AREA START   **/
#advertorial_area{
    margin-bottom: 70px;
}
.advertorial_contant{
    text-align: center;
    margin-bottom: 40px;
}

.slide1{
    background-image: url(../img/IMG_0370_photography\ and\ edit\ by\ Foysal\ Islam\ Shuvo\ 2019.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 500px;
    /* max-width: 100%;
    height: auto; */
    background-repeat: no-repeat;
}
.pic2{
    background-image: url(../img/IMG_20200304_170231-01.jpeg);
}
.pic3{
    background-image: url(../img/IMG_0547_edit\ by\ Foysal\ Islam\ Shuvo\ 2019.jpg);
}
.pic4{
    background-image: url(../img/IMG_0585_edit\ by\ Foysal\ Islam\ Shuvo\ 2019.jpg);
}
.pic5{
    background-image: url(../img/IMG_20200304_172423-01.jpeg);
}
.pic6{
    background-image: url(../img/IMG_20200304_172423-02.jpeg);
}
.pic7{
    background-image: url(../img/IMG20220303101851.jpg);
}
.slider .owl-dots {
    text-align: center;
    /* bottom: 20px;
    left: 45%; */
    /* margin-bottom: 20px; */
}
.slider .owl-dots .owl-dot {
    width: 45px;
    height: 15px;
    /* border: 2px solid #0072bc !important; */
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    margin-left: 5px ;
    border-radius: 25px;
}
.slider .owl-dots .active{
    /* background: #0072bc !important; */
    background: black;
}
/****** ADVERTORIAL AREA END   **/
/*** FASHION AREA START ***/
#fashion_area{
    padding-bottom: 40px;
    background: #EEEFF0;
    padding-top: 40px;
    margin-bottom: 30px;
}
.fashion_contant{
    text-align: center;
    margin-bottom: 40px;
}
.slide2{
    background-image: url(../img/20210529_174300-01.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 450px;
    background-repeat: no-repeat;
}
.pics2{
    background-image: url(../img/20210529_174300-02.jpg);
}
.pics3{
    background-image: url(../img/20210529_174300-03.jpg);
}
.pics4{
    background-image: url(../img/20210529_174300-04.jpg);
}
.pics5{
    background-image: url(../img/20210730_194240-01.jpg);
}
/*** FASHION AREA END ***/
/** BLACK & WHITE AREA START *******/
#bwhite_area{
    margin-bottom: 30px;
}
.bwhite_contant{
    text-align: center;
    margin-bottom: 20px;
}
.slide3{
    background-image: url(../img/20210730_194404-02-01.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 400px;
    background-repeat: no-repeat;
}
.pict2{
    background-image: url(../img/20210730_194404-02-02.jpg);
}
.pict3{
    background-image: url(../img/IMG20210601162639-02.jpg);
}
.pict4{
    background-image: url(../img/IMG20210601163630-01.jpg);
}
.pict5{
    background-image: url(../img/IMG20210601163227-01.jpg);
}
.pict6{
    background-image: url(../img/IMG20210601163511-01.jpg);
}
.pict7{
    background-image: url(../img/IMG20210601182727-01.jpg);
}
.pict8{
    background-image: url(../img/IMG_20210911_102833-01.jpeg);
}
.pict9{
    background-image: url(../img/IMG_20190814_124801-01.jpeg);
}
.pict10{
    background-image: url(../img/IMG_5429-01.jpeg);
}
/** BLACK & WHITE AREA END ******/
/** ABOUT AREA START ****/
#about_area{
    padding-bottom: 40px;
    background: #EEEFF0;
    padding-top: 40px;
    margin-bottom: 30px;
}
.about_title{
    text-align: center;
}
.about_contant{
    display: flex;
    justify-content: space-between;
}
.about_contant > div{
    padding: 20px;
    margin: 10px;
}
.about_pic{
    width: 38%;   
}
.about_pic img {
    width: 100%;
    border-radius: 30px;
}
.about_cont{
    width: 58%;
}
.about_cont p{
    font-size: 18px;
}
.contact{}
.contact i{
    font-size: 20px;
    margin-right: 10px;
    padding: 8px 0px;
}
.contact span{
    font-size: 18px;
}
.social_icon{
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
    transition: .5s;
}
.social_icon i{
    padding: 0px 8px;
    color: black;
}
.social_icon i:hover{
    color: red;
}
/*** ABOUT AREA END ****/
/** FOOTER AREA START  **/
.footer_area{
    padding-top: 8px;
    padding-bottom: 8px;
    background: black;
    color: whitesmoke;
}
.footer_area h5{
    text-align: center;
}
/** FOOTER AREA END  **/